**/bin/
**/obj/
**/.terraform/*

*.tfstate
*.tfstate.*
*.tfstate.backup

*.tfplan

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.auto.tfvars
terraform.tfvars
local.settings.json
*.log

*.funcignore
*.user
*.suo